body {
    background-color: #3579ab;
}

#page-wrap {
    width: 760px;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    box-shadow: 0 0 0 3px #2f428f;
    background-color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 17px 12px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  #drop {
    background-color: #3579ab;
  }

  #drop1 {
    background-color: rgb(219, 85, 45);
    padding: 16px 16px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3579ab;
    width: 760px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -79px;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #3579ab;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.icon {
    width: 55px;
}

.sfondo {
  width: 100%;
}

.sfondo1 {
  width: 100%;
}

.iconlink {
  width: 12%;
  height: 18px;
}

#t1{
  margin-left: 5%;
}